[Desktop Entry]
Encoding=UTF-8
Name=dashcoin Core
Comment=dashcoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem dashcoin peer-to-peer Netzwerk
Comment[fr]=dashcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=dashcoin, eşten eşe kriptografik sanal para birimi
Exec=dashcoin-qt %u
Terminal=false
Type=Application
Icon=dashcoin128
MimeType=x-scheme-handler/dashcoin;
Categories=Office;Finance;
