[Unit]
Description=dashcoincoin's distributed currency daemon
After=network.target

[Service]
User=dashcoincoincore
Group=dashcoincoincore

Type=forking
PIDFile=/var/lib/dashcoincoind/dashcoincoind.pid
ExecStart=/usr/bin/dashcoincoind -daemon -pid=/var/lib/dashcoincoind/dashcoincoind.pid \
-conf=/etc/dashcoincoincore/dashcoincoin.conf -datadir=/var/lib/dashcoincoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
